<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
   	<!-- Header -->
		<%- include('./partials/header')%>
        <!-- /Header -->
<body> 
        <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <div class="row">
                        <article class="col-12 col-lg-8 product-detail-info">
                            <img src= "<%= posts.img_url %>" alt="" class="product-detail-img">
                            <h1><%= users.nombre %></h1> 
                            <p>
                            <%= posts.descripcion %>
                            </p>
                        </article>
                    <img src= "<%= posts.img_url %>" alt="">
                    <p> <%= users.nombre %> </p>
                </div>
                <img class="photo" src="https://via.placeholder.com/500x600" alt="">
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        <article class="comment">
                            <img src="https://via.placeholder.com/40" alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario">Nombre</a>
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur temporibus maxime voluptas</span>
                            </section>
                        </article>
                        <article class="comment">
                            <img src="https://via.placeholder.com/40" alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario">Nombre</a>
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur temporibus maxime
                                    voluptas</span>
                            </section>
                        </article>
                        <article class="comment">
                            <img src="https://via.placeholder.com/40" alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario">Nombre</a>
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur temporibus maxime
                                    voluptas</span>
                            </section>
                        </article>
                        <article class="comment">
                            <img src="https://via.placeholder.com/40" alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario">Nombre</a>
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur temporibus maxime
                                    voluptas</span>
                            </section>
                        </article>
                        <article class="comment">
                            <img src="https://via.placeholder.com/40" alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario">Nombre</a>
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur temporibus maxime
                                    voluptas</span>
                            </section>
                        </article>
                        <article class="comment">
                            <img src="https://via.placeholder.com/40" alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario">Nombre</a>
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur temporibus maxime
                                    voluptas</span>
                            </section>
                        </article>
                    </div>
                </section>
            </section>
        </div>
    </main>
<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>

</html>