<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
		<%- include('./partials/header')%>
	<!-- /Header -->
<body>
    <main>
        <section class="center main-content">
            <% for( let i = 0; i < posts.length; i+=1 ) { %>    
            <article class="post">
                    <div class="info-usuario ">
                    <img src="" alt="">
                    <h4>
                        <a href="/users/miPerfil"></a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/post/detallePost/<%= posts[i].id %> ">
                        <img src="<%= posts[i].img_url %> " alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-descripcion">
                    <h4><%= posts[i].descripcion %></h4>
                </div>
                <div class="post-comentarios">
                    <h4>Comentarios: </h4>  
                    <ul>
                        <li>
                            <a href="/users/detalleUsuario"> Usuario </a>
                            <span>   </span>
                        </li>
                        <a href="/post/detallePost/">Ver más...</a>
                    </ul>
                  
                </div>
            </article>
            <% } %>
        </section>   
       
    </main>

<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>

</html>
